
.page-home {
  ion-header {
    ion-toolbar {
      color:#00448f !important;
      background-color: #00448f !important;
      color: #ffffff;
    }

    ion-title {
      color: #ffffff;
    }
  }

  ion-button {
    --color: #000000;
  }

  .title-custom-color {
    color: #00448f; /* Azul oscuro */
  }

  }

