<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">usuario</ion-label>
      <ion-input [(ngModel)]="alumno.user" name="user" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input [(ngModel)]="alumno.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Ingresar</ion-button>
    <ion-text color="danger" *ngIf="errorMessage">{{errorMessage}}</ion-text>
  </form>

  <!-- Reestablecer contraseña -->
  <ion-button expand="none" fill="outline" (click)="abrirModalRestablecer()">Restablecer contraseña</ion-button>

  <!-- Modal de restablecimiento de contraseña -->
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="cerrarModalRestablecer()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Restablecer contraseña</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalRestablecer()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form (ngSubmit)="enviarCorreoRestablecimiento()">
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input [(ngModel)]="correo" name="correo" type="email" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit">Enviar</ion-button>
        </form>
        <ion-text *ngIf="mensaje">{{mensaje}}</ion-text>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
